name: Deploybot
on:
  workflow_dispatch:
  pull_request:
    paths:
      - deploybot/**
      - .github/workflows/deploybot.yaml

jobs:
  e2e:
    runs-on: ubuntu-latest
    environment: e2e
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: package.json
          cache: pnpm

      - run: |
          pnpm install --frozen-lockfile
          pnpm --filter deploybot run all

      - name: The job has started
        uses: ./deploybot
        with:
          status: started
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL }}

      - name: Generate image tags
        id: tags
        uses: ./docker-image-tag
        with:
          env: dev
          suffix_type: auto

      - name: The job has succeeded
        uses: ./deploybot
        with:
          status: success
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL }}
          custom_fields: |
            - title: ECR Repository
              value: "```dummy```"
            - title: Image Tags
              value: "```${{ steps.tags.outputs.image_tag }}\n${{ steps.tags.outputs.latest_tag }}```"

      - name: The job has failed
        uses: ./deploybot
        with:
          status: failure
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL }}
          custom_fields: |
            - title: ECR Repository
              value: "```dummy```"
            - title: Image Tags
              value: "```${{ steps.tags.outputs.image_tag }}\n${{ steps.tags.outputs.latest_tag }}```"

      - name: The job has been cancelled
        uses: ./deploybot
        with:
          status: cancelled
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL }}
