name: tagpr
on:
  push:
    branches:
      - main
jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
    - name: Generate a token
      id: app-token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
        owner: globis-org
        repositories: sre-actions
        permission-contents: write
        permission-pull-requests: write
        permission-issues: read

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version-file: package.json
        cache: pnpm

    - id: tagpr
      uses: Songmu/tagpr@6423eaf899ec18cb0f5ad3e5c3a7482595a62f04 # v1.12.1
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
    - uses: haya14busa/action-update-semver@7d2c558640ea49e798d46539536190aff8c18715 # v1.5.1
      if: steps.tagpr.outputs.tag != ''
      with:
        tag: ${{ steps.tagpr.outputs.tag }}
      env:
        GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
